.mainPageDiv {
  width: 314px;
  height: 812px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 60px;
}
.FilterCategoryDiv {
  width: 266px;
  margin-left: 24px;
  /* border: 1px solid black; */
  height: 812px;
  display: flex;
  flex-direction: column;
}

.bannerDiv {
  width: 266px;
  height: 35px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
}
.bannerCrossDiv {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.bannerCrossimg {
  width: 100%;
}
.bannerCrossName {
  width: 67px;
  height: 27px;
  margin-left: 81px;
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  margin-top: 10px;
  /* TEXT CapdaS/T1 */
  color: #151a17;
}
.firstFilterCat {
  width: 266px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-top: 42px;
}

.cardInfoDiv {
  width: 261.92px;
  height: 37px;
  display: flex;
  flex-direction: row;
}
.filterName {
  width: 49px;
  height: 17px;
}
.filterPlusSign {
  width: 9.92px;
  height: 9.92px;
  margin-left: 190px;
  font-size: 34px;
  margin-top: -11px;
  cursor: pointer;
}
.filterCategoryDiv {
  width: 180px;
  height: 17px;
  color: #7e817f;
  font-family: Cabinet Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.filterCategoryDiv:hover {
  color: black;
}
.filterButton {
  margin-top: 250px;
  width: 266px;
  height: 43px;
  border-radius: 10px;
  background: #56675b;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 29.76px;
  letter-spacing: 1px;
  font-size: 24px;
  border: 0px;
}
